.wraper {
  max-width: 1000px;
  background: rgb(246, 247, 242);
  margin-bottom: 50px;
  .my-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    .my-job {
      flex: 1;
    }
    .my-language {
      margin-right: 10px;
      div {
        margin: 0 3px;
        a {
          margin: 0 10px;
          border: 2px solid rgb(54, 30, 36);
          text-align: center;
        }
      }
    }
  }
  .main-info {
    .my-contacts {
      // box-shadow: -10px 20px 50px rgb(30, 30, 54);
      background: rgb(30, 30, 54);
      color: white;
      .contact-me > div,
      .follow-me > div,
      .lang-me > div,
      .portfolio > div {
        display: flex;
      }
      .foto {
        width: 200px;
        height: 200px;
        border-radius: 200px;
        background-image: url(../img/foto.jpg);
        background-size: cover;
        margin-top: 20px;
        margin-bottom: 50px;
      }
      h4 {
        margin: 7px 10px;
      }
      h6 {
        margin-top: 10px;
      }
      a {
        color: white;
        margin-top: 10px;
        text-decoration: none;
      }
      .icon-title {
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50px;
        text-align: center;
        margin-bottom: 10px;
        img {
          width: 30px;
          height: 30px;
          margin-top: 9px;
        }
      }
      .icon {
        width: 25px;
        height: 25px;
        background: white;
        border-radius: 5px;
        text-align: center;
        margin: 10px;
        img {
          width: 20px;
          height: 20px;
          margin-bottom: 2px;
        }
      }
      .follow-me,
      .portfolio,
      .lang-me {
        margin: 50px 0;
      }
      .lang-me {
        .icon-len {
          img {
            width: 30px;
            height: 30px;
            margin: 10px;
          }
        }
        span {
          margin: 8px 10px;
        }
      }
    }
    .my-info {
      margin-top: 50px;
      img {
        width: 45px;
        height: 45px;
        margin-right: 20px;
      }
      .name-title {
        color: white;
        background: rgb(30, 30, 54);
        height: 170px;
        text-align: center;
        margin-bottom: 50px;
        h1 {
          padding-top: 50px;
        }
      }
      .box {
        margin-bottom: 25px;
        h5 {
          border-bottom: 3px solid silver;
          padding-bottom: 5px;
          margin-bottom: 10px;
        }
        h6 {
          display: inline;
          color: rgb(23, 171, 216);
        }
        span {
          margin-left: 30px;
          font-style: italic;
        }
        a {
          color: black;
          margin-top: 10px;
          text-decoration: none;
          font-weight: normal;
        }
      }
      .education {
        a {
          font-weight: bolder;
          margin-bottom: 3px;
        }
      }
    }
  }
}
